<a href="https://colab.research.google.com/github/BurhanBhatti165/AI_LAB/blob/main/ai_LAB1_22L-8228.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
age = input('Enter ANYTHING:')
print(type(age))
b = type(age)
if b == str:
    age = int(age)
    print(type(age))
    age = float(age)
    print(type(age))

elif b == int:
  age = float(age)
  print(type(age))
else:
    age = int(age)
    print(type(age))

Enter ANYTHING:29
<class 'str'>
<class 'int'>
<class 'float'>

**QUESTION 2 **

In [12]:
name = input('Enter your name:')
age = input('Enter your age:')
print('Hello ' + name ,'YOUR AGE IS ' + age )

Enter your name:d
Enter your age:45
Hello d YOUR AGE IS 45

**QUESTION 3**

In [19]:
listt = ["a", "b", "c","e", "f", "g"]
print(listt)
listt.append("nooooooooo")
print(listt)
listt.insert(1, "yessss")
print(listt)
listt.remove("b")
print(listt)

['a', 'b', 'c', 'e', 'f', 'g']
['a', 'b', 'c', 'e', 'f', 'g', 'nooooooooo']
['a', 'yessss', 'b', 'c', 'e', 'f', 'g', 'nooooooooo']
['a', 'yessss', 'c', 'e', 'f', 'g', 'nooooooooo']

**QUESTION 4**

In [21]:
tuppleee = ("a", "b", "c","e", "f", "g")
a=tuppleee[0]
b=tuppleee[1]
c=tuppleee[2]
print('first elemnet:'+ a)
print('second elemnet:'+ b)
print('third elemnet:'+ c)
print(tuppleee)

first elemnet:a
second elemnet:b
third elemnet:c
('a', 'b', 'c', 'e', 'f', 'g')

**QUESTION 5**

In [26]:
dicttt = {
  0: {
  "name": "bunny",
  "grade": "A",
  },
    1: {
  "name": "bunny",
  "grade": "A+",
  },
    2: {
  "name": "bunny",
  "grade": "A-",
  },
    3: {
  "name": "bunny",
  "grade": "B",
  },  4: {
  "name": "bunny",
  "grade": "B+",
  },

}

print(dicttt)

{0: {'name': 'bunny', 'grade': 'A'}, 1: {'name': 'bunny', 'grade': 'A+'}, 2: {'name': 'bunny', 'grade': 'A-'}, 3: {'name': 'bunny', 'grade': 'B'}, 4: {'name': 'bunny', 'grade': 'B+'}}

**QUESTION 6 **

In [35]:
list1 = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
list2 = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))

print("The first list is:", list1)
print("The second list is:", list2)


print("UNION ")
L1= set(list1)
L2= set(list2)
set3 = L1.union(L2)
print(set3)

print("INTERSECTION ")
L1= set(list1)
L2= set(list2)
set3 = L1.intersection(L2)
print(set3)

print("DIFFERENCE ")
L1= set(list1)
L2= set(list2)
set3 = L1.difference(L2)
print(set3)

Enter a list of numbers separated by spaces: 1 2 3 4
Enter a list of numbers separated by spaces: 4 3 5 1
The first list is: [1, 2, 3, 4]
The second list is: [4, 3, 5, 1]
UNION
{1, 2, 3, 4, 5}
INTERSECTION
{1, 3, 4}
DIFFERENCE
{2}

**QUESTION 7**

In [37]:
nnumber = int(input("Enter a number: "))

if nnumber > 0:
  print("Positive number")
elif nnumber < 0:
  print("Negative number")
else:
  print("Zero")

if nnumber % 2 == 0:
  print("Even number")
else:
  print("Odd number")

Enter a number: -88
Negative number
Even number

**QUESTION 8 **

In [41]:
for x in range(1,51):
  if x % 3 == 0 and x % 5 == 0:
    print("FizzBuzz")
    continue
  elif x % 3 == 0:
    print("Fizz")
    continue
  elif x % 5 == 0:
    print("Buzz")
    continue
  print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

**Question 9**

In [46]:
def my_function(a):
  if a < 0:
    print("Sorry, factorial does not exist for negative numbers")
  elif a == 0:
    print("The factorial of 0 is 1")
  else:
    print("The factorial of", a, "is:")
    fact = 1
    for i in range(1,a + 1):
      fact = fact*i
    print(fact)





a= int(input("Enter Number to find its fctorial"))
my_function(a)

Enter Number to find its fctorial5
The factorial of 5 is:
120

In [50]:
def my_function(a):
  if a < 0:
    print("bhai shahab positive numbe dooo ")
  elif a == 0:
    print("The factorial of 0 is 1")
  else:
    print("The factorial of", a, "is:")
    fact = 1

    for i in range(a, 0, -1):
        fact = fact * i
    print(fact)





a= int(input("Enter Number to find its fctorial"))
my_function(a)

Enter Number to find its fctorial5
The factorial of 5 is:
120

**QUESTION 10**

In [62]:
def my_function(a):
  if a < 0:
    print("bhai shahab positive numbe dooo ")
  elif a == 0 or a == 1 :
    print("both 0 and 1 are not prime ")
  else:
    for i in range (2, a):
      if a % i == 0:
        print("not prime")
        break
      else:
        print("prime")
        break


a= int(input("Enter Number to find WETHER IT IS PRIME OR NOT  :"))
my_function(a)

Enter Number to find WETHER IT IS PRIME OR NOT  :10
not prime

**QUESTION 11**

In [69]:
ll = [1,2,3,4,5,6,7,8,9,10]
nl = []
for x in ll:
  nl.append(x*x)
print(nl)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Question 12 **

In [74]:
d1 = {'x': 1, 'y': 2,'k':88}
d2 = {'x': 3, 'z': 4, 'k':88}

d3 = d1.copy()
for key, value in d2.items():
  for k, v in d1.items():
    if k == key:
      d3[key] = d2.items()

    d3[key] = value

print(d3)

{'x': 3, 'y': 2, 'k': 88, 'z': 4}

**QUESTION 13 **

In [82]:
def remove_duplicates(input_list):
  l2 = []
  for element in input_list:
    if element not in l2:
      l2.append(element)
  return l2

# Example usage (from your provided code)
list1 = [1, 2, 2, 3, 4, 4, 5]
l2 = remove_duplicates(list1)
l2

[1, 2, 3, 4, 5]

***Question 14***

In [83]:

texts = ["bbb","nan","jgsaf", "aaa"]

print("given list of strings:")
print(texts)

result = list(filter(lambda x: (x == "".join(reversed(x))), texts))


print("\nList of palindromes:")
print(result)

Orginal list of strings:
['bbb', 'nan', 'jgsaf', 'aaa']

List of palindromes:
['bbb', 'nan', 'aaa']

**QUESTION 15 **

In [85]:


tot_terms = int(input("tOtal terms "))


n1, n2 = 0, 1
count = 0


if tot_terms <= 0:
   print("bhai positive number do klitni baar btaon ")

elif tot_terms == 1:
   print("Fibonacci sequence  ",tot_terms,":")
   print(n1)

else:
   print("Fibonacci sequence:")
   while count < tot_terms:
       print(n1)
       c = n1 + n2
       # update values
       n1 = n2
       n2 = c
       count += 1

tOtal terms 5
Fibonacci sequence:
0
1
1
2
3

**QUESTION 16**

In [88]:


numbers = []
while True:
        num_str = input("Enter a number (or 'done' to finish): ")
        if num_str.lower() == 'done':
            break
        num = float(num_str)
        numbers.append(num)

if numbers:
    average = sum(numbers) / len(numbers)
    print("Average:", average)
else:
    print("No numbers entered.")

Enter a number (or 'done' to finish): 5
Enter a number (or 'done' to finish): 6
Enter a number (or 'done' to finish): done
Average: 5.5

**QUESTION 17**

In [89]:

a = int(input("Enter a number to generate its table : "))

for i in range(1, 11):
   print(a, 'x', i, '=', a*i)

Enter a number to generate its table : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**QUESTION 18**

In [93]:
students = []

a = int(input("Enter the total number of students: "))

for _ in range(a):
  student = {}
  student["name"] = input("Enter name: ")
  student["password"] = input("Enter password: ")
  students.append(student)


def login():
    print("WELCOME TO LOGIN PAGE")
    print("NOW ENTER YOUR NAME AND PASSWORD FOR LOGIN.")
    name = input("Enter your name: ")
    password = input("Enter your password: ")
    for student in students:
        if student["name"] == name and student["password"] == password:
            print("Login successful!")
            return
    print("Login failed. Invalid username or password.")

login()

Enter the total number of students: 1
Enter name: BB
Enter password: BB
WELCOME TO LOGIN PAGE
NOW ENTER YOUR NAME AND PASSWORD FOR LOGIN.
Enter your name: BB
Enter your password: GG
Login failed. Invalid username or password.

**Question 19**

In [94]:


def frequenc7yy(text):
    words = text.lower().split()
    frequency = {}
    for word in words:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1
    return frequency

input_list = input("Enter a list of words separated by spaces: ").split()

frequencies = frequenc7yy(" ".join(input_list))
print("Word frequencies:")
for word, count in frequencies.items():
  print(f"{word}: {count}")

Enter a list of words separated by spaces: a b c a one two one
Word frequencies:
a: 2
b: 1
c: 1
one: 2
two: 1

**Question 20**

In [99]:
def convert_temperature():
  while True:
    choice = input("Convert to Celsius or Fahrenheit? ")
    if choice in ('Celsius', 'Fahrenheit'):
      break
    else:
      print("Invalid choice. Please enter 'Celsius' or 'Fahrenheit'.")
  temp = float(input("Enter the temperature value: "))

  if choice == 'Celsius':
    celsius = (temp - 32) * 5/9
    print(f"{temp}°F is equal to {celsius:.2f}°C")
  else:
    fahrenheit = (temp * 9/5) + 32
    print(f"{temp}°C is equal to {fahrenheit:.2f}°F")

convert_temperature()

Convert to Celsius or Fahrenheit? celcius
Invalid choice. Please enter 'Celsius' or 'Fahrenheit'.
Convert to Celsius or Fahrenheit? Celsius
Enter the temperature value: 99
99.0°F is equal to 37.22°C